[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"
ipython = "*"
pre-commit = "*"
pylint = "*"

[packages]
inflection = "*"
mako = "*"
scrapy = "*"

[pipenv]
allow_prereleases = true
